<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <i class="fa fa-user" aria-hidden="true"></i> Registration
        </div>
        <div class="panel-body">
          <form action="">
            <div class="form-group">
              <input type="email" class="form-control"
                     ng-model="vm.model.email" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="text" class="form-control"
                     ng-model="vm.model.firstName" placeholder="First Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control"
                     ng-model="vm.model.lastName" placeholder="Last Name">
            </div>
            <div class="form-group">
              <input type="password" class="form-control"
                     ng-model="vm.model.password" placeholder="Password">
            </div>
            <input type="button" class="btn btn-primary"
                   ng-click="vm.signup()" value="Register">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
