<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <i class="fa fa-lock" aria-hidden="true"></i> Sign In
        </div>
        <div class="panel-body">
          <form name="signinForm">
            <div class="form-group"
                 ng-class="{ 'has-error': signinForm.email.$touched && signinForm.email.$invalid }">
              <input type="text" class="form-control" name="email"
                     placeholder="Email" ng-model="vm.model.email"
                     required autofocus>
              <div ng-messages="signinForm.email.$error"
                   ng-show="signinForm.email.$invalid && signinForm.email.$touched">
                <span class="help-block" ng-message="required">Email is required.</span>
              </div>
            </div>
            <div class="form-group"
                 ng-class="{ 'has-error': signinForm.password.$touched && signinForm.password.$invalid }">
              <input type="password" class="form-control" name="password"
                     placeholder="Password" ng-model="vm.model.password" required>
              <div ng-messages="signinForm.password.$error"
                   ng-show="signinForm.password.$invalid && signinForm.password.$touched">
                <span class="help-block" ng-message="required">Password is required.</span>
              </div>
            </div>
            <button class="btn btn-primary"
                    type="button" ng-disabled="signinForm.$invalid"
                    ng-click="vm.signin()">Sign in
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
